html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  line-height: 1.25rem;
  font-family: "Crimson Text", serif;

  background: url("/img/background.png") no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 2fr) 1fr;
  grid-template-rows: 0.4fr 2.2fr 0.4fr;
  gap: 1rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 1.25em;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.25em;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.25em;
}

.grid {
  grid-area: 2 / 2 / 3 / 3;
  min-width: 20rem;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(150px, 1fr) 2fr 150px;
  grid-template-areas:
    " . logo logo . "
    " photo photo info info "
    " . links links qr-code ";
}

.logo {
  grid-area: logo;
}

.logo img {
  height: 100%;
}

.photo {
  grid-area: photo;
}

.photo img {
  max-width: 15rem;
  border-radius: 50%;
}

.info {
  grid-area: info;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  grid-area: links;
}

.links a {
  line-height: 0;
  margin: 0.5rem;
  padding: 0.5rem;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.links a:hover {
  transform: scale(1.25);
}

.links img {
  width: 2rem;
  height: 2rem;
}

.qr-code {
  grid-area: qr-code;
  align-items: flex-end;
  justify-content: flex-end;
}

.qr-code img {
  width: 100%;
  max-height: 100%;
  max-width: 150px;
}

@media only screen and (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    grid-template-areas:
      " logo logo "
      " photo info "
      " qr-code qr-code "
      " links links ";
  }

  .photo img {
    width: 10rem;
  }

  .qr-code {
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      " logo "
      " photo "
      " info "
      " qr-code "
      " links ";
  }

  .info {
    align-items: center;
  }
}

@media only screen and (min-width: 2000px) {
  html {
    font-size: 32px;
  }
  .photo img {
    width: 40rem;
  }
}
